{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/website_pages/styles/home.css">
    <link rel="stylesheet" type="text/css" href="../../static/website_pages/styles/navbar.css">
    <link rel="stylesheet" href="../../static/website_pages/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../static/website_pages/styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    
    {% block links %} {% endblock links %}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>E-Blood Bank</title>
    {% endif%}

</head>

<body onload="myFunc()">
    <div id="preLoader"> </div>

    <header class=main-header>
        <div class="head_bar">
            <div class="inner-container">
                <div class="clearfix">
                    <div class="logo_box hidden-xs">
                        <div class="logo">
                            <a href="/" title="Blood Bank">
                                <img src="../../static/website_pages/images/awp.png">
                            </a>
                        </div>
                    </div>

                    <div class="buttons_container">
                        <div class="clearfix">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'user-donations' %}" class="myButton">
                                <span class="fa fa-lock"></span>&nbsp;My Donations</a>
                            <a href="{% url 'user-orders' %}" class="myButton">
                                <span class="fa fa-lock"></span>&nbsp;My Orders</a>
                            <a href="{% url 'logout' %}" class="myButton">
                                <span class="fa fa-lock"></span>&nbsp;Logout</a>
                            {% else %}
                            <a href="{% url 'register' %}" class="myButton">
                                <span class="fa fa-user-circle-o" aria-hidden="true"></span>&nbsp;Register</a>
                            <a href="{% url 'login' %}" class="myButton">
                                <span class="fa fa-lock"></span>&nbsp;Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-lower">
            <div class="auto-container">
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'schema-swagger-ui' %}">API Docs</a></li>
                                <li><a href="{% url 'bloodbanks-list' %}">Blood Banks</a></li>
                                <li><a href="{% url 'bloodDonationEvents-list' %}">Camps</a></li>
                                <li><a href="{% url 'bloodpackets-list' %}">Blood Packets</a></li>
                                <!-- <li><a href="/videos">Blah BLah</a></li> -->
                                <li class="dropdown"><a href="#">More</a>
                                    <ul>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="{% url 'bloodbank-create' %}">Register Blood Bank</a></li>
                                        <li><a href="{% url 'donation-create' %}">Create Donation Request</a></li>
                                        <li><a href="{% url 'bloodDonationEvents-create' %}">Register New Event</a></li>
                                    </ul>
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                </div>
                <!--Nav Outer End-->
            </div>
        </div>
    </header>
    {% block content %} {% endblock content %}

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="{% url 'bloodbank-create' %}">Register Blood Bank</a></li>
                            <li><a href="{% url 'schema-swagger-ui' %}">API Docs</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="{% url 'bloodbanks-list' %}">Blood Banks</a></li>
                            <li><a href="{% url 'bloodDonationEvents-list' %}">Camps</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Blood Bank Management System</h3>
                        <p>Our project is an initiative to connect, digitize and streamline the work flow of blood banks across India. The purpose of the blood bank management system is to simplify and automate the process of searching for blood in case of emergency and maintain the records of blood donors, recipients, blood donation programs and blood stocks in the bank.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">BBMS © 2020</p>
            </div>
        </footer>
    </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <script src="https://use.fontawesome.com/df83636777.js"></script>
        <script>
            var loader = document.getElementById("preLoader")

            function myFunc() {
                loader.style.display = 'none';
            }
        </script>
</body>

</html>