{% extends "./base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="../../static/website_pages/styles/bloodbanklist.css">

{% endblock links %}
{% block content %}
<div class="container">

    <div class="container2 demo animated">
        <h1>Blood Donation Events</h1>

    </div>
    <table class="bloodbank-table">
        <tr>
            <th class="table-headers">Camp Name</th>
            <th class="table-headers">Organized By</th>
            <th class="table-headers">Venue</th>
            <th class="table-headers">Time</th>
            <th class="table-headers">Phone</th>
            <th class="table-headers">Date</th>
        </tr>
        {% for event in bloodDonationEvents %}
        <tr>
            <td class="table-content">{{ event.campName }}</h1>
            </td>
            <td class="table-content"><a href="{% url 'bloodbanks-detail' event.organizedBy.id %}"> {{ event.organizedBy.name }} </a></td>
            <td class="table-content">{{event.venue}}</td>
            <td class="table-content">{{event.time}}</td>
            <td class="table-content">{{event.contactNo}}</td>
            <td class="table-content">{{event.date}}</td>
        </tr>
        {% empty %}
            <li class="media content-section">Sorry, no events in this list
            </li>
        {% endfor %}
        
    </table>
</div>
{% endblock content %}
