{% extends "./base.html" %}
{% load static %}

{% block content %}
<div id="fb-root"></div>

<div class="fb-quotable">
    <h1> Blood Bank Name: {{object.name}} </h1>

    <h3> state: {{object.state}} </h3>
    {% for bloodpacket in object.BloodPackets.all %}
        <h3> {{bloodpacket.packetID}} </h3>
    {% endfor %}
</div>

{% if object.BloodBankAdmin == user %}
    <h3><a href="{% url 'bloodbanks-update' object.id %}">Update</a></h3>
    <h3><a href="{% url 'bloodbanks-delete' object.id %}">Delete</a></h3>
{% endif %}



  {% endblock %}