{% extends "./base.html" %}
{% load static %}

{% block content %}
{% for bloodbank in bloodbanks %}

<h1> Blood Bank Name: <a href="{% url 'bloodbanks-detail' bloodbank.id %}"> {{bloodbank.name}} </a></h1>

<h3> State: {{bloodbank.state}} <br>
    City: {{bloodbank.city}} <br>
</h3>
<h4>Blood Packets Available in this blood bank are:</h4><br>
{% for bloodpacket in bloodbank.BloodPackets.all %}
    <p>
        ID:{{bloodpacket.bloodGroup}} 
        Quantity:{{bloodpacket.quantity}} 
        Expiry Date: {{bloodpacket.expiryDate }}
    </p> 

    
{% endfor %}
<h2>------------------------------------------------------------------------------</h2>
{% endfor %}

{% endblock content %}