{% extends "./base.html" %}

{% block links %}
<link rel="stylesheet" href="../../static/website_pages/styles/home.css">
{% endblock links %}

{% block content %}
<main>
    <section class="d-flex flex-row justify-content-center align-items-center align-content-center" id="hero">
        <div class="d-flex flex-column justify-content-start align-items-start" id="left-info">
            <h2 id="hero-heading">Locate Nearby Blood Banks✓</h2>
            <p id="hero-tagline"><br>Locate nearby blood banks or search any location with our fully featured web
                app.<br><br></p>
        </div>
        <div class="d-flex flex-column justify-content-end" id="right-search">
            <form id="form-container">
                <div class="d-flex flex-column justify-content-center align-items-center flash animated"
                    id="search-form">
                    <div id="search-heading-div">
                        <h4>Search Now!</h4>
                    </div>
                    <input class="border rounded-0 form-control" type="search" id="search-input" required=""
                        placeholder="Location">
                    <select class="custom-select" id="blood-group-input">
                        <option value="1">A+</option>
                        <option value="2">A-</option>
                        <option value="3">B+</option>
                        <option value="4">B-</option>
                        <option value="5">AB+</option>
                        <option value="6">AB-</option>
                        <option value="7">O+</option>
                        <option value="8">O-</option>
                    </select>
                    <button class="btn btn-primary" id="search-btn" type="button">Search</button>
                    <div class="d-flex flex-column justify-content-center" id="other-links">
                    </div>

            </form>
        </div>
    </section>
    <section class="d-flex flex-row justify-content-center" id="mid-join-now" style="background: #b4b4b4;">
        <div class="d-flex flex-column justify-content-center" id="left-text-join">
            <h1 id="join-us-heading">Ready to get started ?</h1>
            <h4 id="join-us-tag">Sign up or contact us</h4>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center" id="right-btns-join"><button
                class="btn btn-primary" id="sign-up-btn" type="button">Signup</button><button class="btn btn-primary"
                id="contact-btn" type="button">Contact Us</button></div>
    </section>
    <section class="d-flex flex-column justify-content-center align-items-center" id="table_data">
        <div class="col-md-12 typeHeading">
            <h1 class="learnAbout">Learn About Donation</h1>
        </div>

        <div class="col-sm-6  text-center">
            <picture>
                <img src="../../static/website_pages/images/donationFact.webp"
                    alt="One Donation Can save upto three lives">
            </picture>
            <blockquote>
                <p style="font-family:oswald">After donating blood, the body works to replenish the blood loss. This
                    stimulates the production of new blood cells and in turn, helps in maintaining good health.</p>
                <p>
                </p>
            </blockquote>
        </div>

        <div >
            <table class="table table-responsive table-bordered ">
                <tbody>
                    <tr>
                        <th colspan="3" style="color:white;background-color:red;">Compatible Blood Type Donors</th>
                    </tr>
                    <tr>
                        <td><b>Blood Type</b></td>
                        <td><b>Donate Blood To</b></td>
                        <td><b>Receive Blood From</b></td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>A+</b></span></td>
                        <td>A+ AB+</td>
                        <td>A+ A- O+ O-</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>O+</b></span></td>
                        <td>O+ A+ B+ AB+</td>
                        <td>O+ O-</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>B+</b></span></td>
                        <td>B+ AB+</td>
                        <td>B+ B- O+ O-</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>AB+</b></span></td>
                        <td>AB+</td>
                        <td>Everyone</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>A-</b></span></td>
                        <td>A+ A- AB+ AB-</td>
                        <td>A- O-</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>O-</b></span></td>
                        <td>Everyone</td>
                        <td>O-</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>B-</b></span></td>
                        <td>B+ B- AB+ AB-</td>
                        <td>B- O-</td>
                    </tr>
                    <tr>
                        <td><span style="color: #961e1b;"><b>AB-</b></span></td>
                        <td>AB+ AB-</td>
                        <td>AB- A- B- O-</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>


    <section class="d-flex flex-column justify-content-center align-items-center" id="aero">
        <h1 id="video-title">Your donated blood is safe!</h1>
        <iframe allowfullscreen="" frameborder="0"
            src="https://www.youtube.com/embed/6kSLEnvDhCU?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=6kSLEnvDhCU"
            id="video-abt" width="560" height="315"></iframe>
        <button class="btn btn-primary" id="donate-btn" type="button">Donate Now</button>
    </section>
</main>
{% endblock %}